<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <springProperty defaultValue="localhost" name="logstashHost"
    scope="context" source="application.logstash.host"/>

    <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender" name="stash">
        <!--<destination>localhost:5000</destination>-->
        <destination>${logstashHost}:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/> <!-- MDC variables on the Thread will be written as JSON fields-->
                <context/> <!--Outputs entries from logback's context -->
                <version/> <!-- Logstash json format version, the @version field in the output-->
                <logLevel/>
                <loggerName/>

                <pattern>
                    <pattern>
                        {"app-name": "${appName}" }
                    </pattern>
                </pattern>

                <threadName/>
                <message/>

                <logstashMarkers/> <!-- Useful so we can add extra information for specific log lines as Markers-->
                <arguments/> <!--or through StructuredArguments-->

                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="!default">
        <property name="LOG_FILE" value="logs/${appName}.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="stash"/>
        </root>
    </springProfile>

    <logger name="com.mycompany.myservice" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

</configuration>
